@font-face
    font-family Scriptina
    font-style normal
    src url("./../assets/fonts/scriptina/SCRIPTIN.ttf")
@font-face
    font-family Alegreya-Regular
    font-style normal
    src url("./../assets/fonts/Alegreya/Alegreya-Regular.ttf")
@font-face
    font-family Alegreya-Bold
    font-style normal
    src url("./../assets/fonts/Alegreya/Alegreya-Bold.ttf")
@font-face
    font-family PlayfairDisplay
    font-style normal
    src url("./../assets/fonts/Playfair/PlayfairDisplay-Bold.ttf")
@font-face
    font-family Proxima_Nova-Regular
    font-style normal
    src url("./../assets/fonts/proxima-nova/Proxima_Nova-Regular.ttf")