@import "variables.styl"

.footer
  background-color $fifthSectionAndFooterBgColor
  width 100%
  padding-bottom 4rem
  &-container
    display flex
    justify-content space-between
    font-weight bold
    color $textColorGray
  &-nav
    display flex
    justify-content space-between
    flex 0 1 40%
    padding 1.8rem
    border-bottom 1px solid rgba(128, 128, 128, 0.5)
    border-top 1px solid rgba(128, 128, 128, 0.5)
  &_link
    color $textColorGray
    letter-spacing 3px
  &_logo
    padding 2rem
    font-family Scriptina
    font-size 2.5rem
    line-height 0
    letter-spacing 6px
    font-weight normal