@import "variables.styl"
.navbar
  position absolute
  z-index 1
  background-color $transparentGreyBg
  width 100%
  max-height 3.5rem
  display flex
  justify-content space-between
  color whitesmoke
  &_logo
    margin-left 10rem
    padding 5px
    box-sizing border-box
  &_links
    display flex
    > a
      color whitesmoke
      //font-family Alegreya-Regular
  &_item
    padding  1rem 5rem
    display flex
  &_betweenlink
    margin 0 2rem
  &-right
    margin-right 10rem
    padding 1rem
    &_img
      //padding 1rem
      margin-right 1rem
      max-height 15px
  //&_logo
  //  font-family Scriptina


